* {
	padding: 0;
	margin: 0;
}

body {background-color: black;}

.body_block {
	width: 1400px;
	height: auto;
	margin: 0 auto;
	background-color: white;
}
/*----------------GENERAL----------------*/
h1 {font: normal 24px verdana;}
.main_menu ul, .main_footer ul{
	list-style: none;
}
.main_menu ul li, .main_footer ul li {display: inline;}
/*----------------END GENERAL----------------*/

/*---------------MAIN HEADER----------------*/
.main_header {
	height: auto;
	width: 69%;
	border-bottom: solid 1px rgb(115,115,115);
	margin: 0 auto;
	padding: 30px 0;
	font-family: verdana;
	font-size: 24px;
	color: rgb(115,115,115);	
}
.main_header:before, .main_header:after {
	content: "";
	display: table;
	clear: both;
}
#logo {
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: rgb(115,115,115);
	color: white; 
	font-size: 36px;	
	float: left;
	margin-right: 15px;
}
.main_header p {margin-top: 10px;}
.social_media {
	list-style: none;
	float: right;
	margin-top: -30px;
}
.social_media li {
	display: inline;
	margin-right: 10px;	
}
.social_media li a {	
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);	
	filter: gray; /*IE 6-9*/
	-webkit-filter: grayscale(1);
	opacity: 0.5;
}
.social_media li a:hover {
	opacity: 1;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}
.mobile_menu {
	float: right;
	margin-top: -30px;
	display: none;
}
/*----------------END MAIN HEADER----------------*/

/*----------------NAVIGATION----------------*/
.main_menu {
	width: 69%;
	height: auto;
	margin: 0 auto;
	padding: 30px 0;	
}
.main_menu ul li a {
	text-decoration: none;
	color: rgb(115,115,115);
	font: normal 18px myriad pro;
	margin-right: 38px;
}
.main_menu ul li a:hover {color: rgb(46,204,113);}
.main_menu .active {color: rgb(46,204,113);}
/*----------------END NAVIGATION/*----------------*/

/*----------------SLIDER----------------*/
.slider_content {
	width: 100%;
	height: 795px;
	background-color: white;
	position: relative;
	overflow: hidden;
}
.slider_article {
	width: 54%;
	height: auto;	
	margin: 50px auto 0 auto;
	font: normal 16px verdana;
	color: rgb(174,173,173);
	text-align: center;	
}
.slider_body {
	height: 591px;
	width: 100%;	
}
#slider_image_01, #slider_image_02, #slider_image_03 {
	position: absolute;
	top: 0;	
}
#slider_image_01 {left: 0;}
#slider_image_02 {left: 1400px;}
#slider_image_03 {left: 2800px;}
/*----------------END SLIDER----------------*/

/*----------------GREEN BUTTONS----------------*/
.btn_HomePage {
	width: 185px;
	height: 40px;
	background-color: rgb(46,204,113);
	color: white;
	font: normal 14px myriad pro;
	text-align: center;
	margin: 22px auto;	
}
.btn_HomePage p {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}
/*----------------END GREEN BUTTONS----------------*/

/*----------------VIDEO BLOCK----------------*/
.video_block {
	width: 68%;
	background-color: rgb(239,239,239);	
	color: rgb(115,115,115);	
	padding: 40px 16% 20px 16%;			
}
.video_block:before, .video_block:after {
	content: "";
	display: table;
	clear: both;
}
.video_block img {
	float: left;
	margin-right: 28px;
}
.video_block_article {margin:0 auto;}
.video_block_article p {
	margin-top: 30px;
	font: normal 14px verdana;
	text-align: justify;
}
/*----------------END VIDEO BLOCK----------------*/
/*----------------MODAL WINDOW----------------*/
.modalDialog {
	position: fixed;	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 480px;
	position: relative;
	margin: 10% auto;
	padding: 20px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

/*----------------END MODAL WINDOW----------------*/

/*----------------PORTFOLIO BLOCK----------------*/
.portfolio_block {
	width: 100%;
	height: auto;
	background-color: white;
	color: rgb(138,136,136); 
	padding-bottom: 20px; 
	overflow: hidden;
}
.portfolio_block_article {	
	width: 48%;
	height: auto;
	margin: 0 auto;	
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px; 
}
.portfolio_block img {opacity: 0.5; margin-right: 16.5px; margin-bottom: 48px;}
.portfolio_block img:hover {opacity: 1; transition: all 300ms ease-out;}

.portfolio_block_article p, .portfolio_block_article img, .portfolio_img_description p{
	margin-top: 30px;
}
.carrossel {
	position: relative;
	left: -3.8%;
	width: 120%;
	height: 200px;
}
#carrossel_img_01, #carrossel_img_02, #carrossel_img_03, #carrossel_img_04, #carrossel_img_05 {
	position: absolute;
	z-index: 1;
}
#carrossel_img_01 {left: 0;}
#carrossel_img_02 {left: 317px;}
#carrossel_img_03 {left: 634px;}
#carrossel_img_04 {left: 951px;}
#carrossel_img_05 {left: 1268px;}
.selected {
	position: absolute;			
	top: 52px;	
	z-index: 2;		
	visibility: hidden;
}
.carrossel a:hover .selected{
	visibility: visible;
}
#selected_img01 {left: 102px;}
#selected_img02 {left: 419px;}
#selected_img03 {left: 736px;}
#selected_img04 {left: 1053px;}
#selected_img05 {left: 1370px;}
.portfolio_img_description {
	text-align: center;	
	width: 48%;
	height: auto;
	margin: 0 auto;	
	margin-top: 50px;	 
}
.portfolio_img_description:before, .portfolio_img_description:after {
	content: "";
	display: table;
	clear: both;
}
.portfolio_img_description h2 {
	font: normal 18px myriad pro;
	color: rgb(138,136,136);
}
.descriptiom_text {
	width: 78%;	
	padding: 0 2%;	
	float: left; 
}
#left_arrow, #right_arrow {	
	margin-top: 24px;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /*IE 6-9*/
	-webkit-filter: grayscale(1);
	opacity: 0.5;
}
#left_arrow:hover, #right_arrow:hover {
	opacity: 1;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}
#left_arrow {float: left;}
#right_arrow {float: right;}
/*----------------END PORTFOLIO BLOCK----------------*/

/*----------------CALLOUT BLOCK----------------*/
.callout_block {
	width: 100%;
	height: auto;	
	background-color: rgb(50,47,47);
	color: white;	
	padding: 60px 0 45px 0;
}
.callout_block:before, .callout_block:after {
	content: "";
	display: table;
	clear: both;
}
.callout_block h1 {margin-left: 23%;}
.callout_block .btn_HomePage {
	float: right;
	margin-top: -40px;
	margin-right: 230px;
}
/*----------------END CALLOUT BLOCK----------------*/

/*----------------MAIN FOOTER----------------*/
.main_footer {
	width: 100%;
	height: auto;
	background-color: rgb(239,239,239);	
	padding: 30px 0;
	font: normal 12px verdana;
}
.main_footer ul {text-align: right; margin-right: 16%;}
.main_footer ul li {border-right: solid 1px #A5A5A5;}
.main_footer ul li:last-child {border-right: none;}
.main_footer ul li a {
	text-decoration: none;
	color: rgb(165,165,165);	
	margin: 0 10px;
}
.main_footer p {
	color: rgb(165,165,165);		
	margin-left: 16%; 
	float: left;	
}
/*----------------END MAIN HEADER----------------*/

/*----------------MEDIA----------------*/
@media screen and (max-width: 1390px) {
	.body_block {width: 100%;}
}
@media screen and (max-width: 1024px) {
	.video_block {display: block; text-align: center;}
	.video_block img {float: none;}	
	.callout_block {display: block;	text-align: center;	padding: 40px 0 25px 0;}	
	.callout_block h1 {text-align: center;	margin-left: 10px;}
	.callout_block .btn_HomePage {float: none; margin: 10px auto;}
}
@media screen and (max-width: 640px) {
	.video_block {width: 90%; padding: 5%;}	
	.video_block img {margin-right: 0;	width: 100%;}
	.portfolio_block {width: 90%; padding: 5%; height: auto;}
	.portfolio_block_article {width: 80%; padding-top: 0; padding-bottom: 20px;}		
	.carrossel {left: 0; width: 80%; height: auto; margin: 0 auto;}	
	#carrossel_img_01, #carrossel_img_02, #carrossel_img_03, #carrossel_img_04, #carrossel_img_05 {
		position: static;		
		width: 100%;
		margin-bottom: 10px;
	}	
	.social_media, .main_menu, .slider_body, #slider_image, 
	.portfolio_img_description {display: none;}				
	.mobile_menu {display: block;}		
	.slider_content {height: auto;}
	.slider_article {width: 260px; margin: 50px auto 0 auto; font-size: 12px; text-align: justify;}	
	.video_block p {font-size: 12px;}
	.video_block h1 {margin-top: 20px; font-size: 20px;}			
	.portfolio_block {font-size: 12px;}			
}
@media screen and (max-width: 800px) {
	.main_footer ul {display: none;}
	.main_footer {text-align: center;}
	.main_footer p {float: none; margin-left: 0;}
}
@media screen and (max-width: 320px) {		
	h1 {font-size: 18px;}
	.main_header {width: 260px;}	
	.slider_article {font-size: 9.14px;}			
	.carrossel {width: 100%;}	
	#carrossel_img_01, #carrossel_img_02, #carrossel_img_03, #carrossel_img_04, #carrossel_img_05 {margin-bottom: 15px;}	
	.btn_HomePage {width: 100px; height: 25px;}
	.btn_HomePage p {line-height: 25px; font-size: 8px;}		
	.callout_block h1 {font-size: 15px;	margin-bottom: 15px;}		
}